/* banner area style
============================================================================================ */
.banner-area {
    position: relative;
    z-index: 1;
    background: url(../img/bg/banner-bg.png) no-repeat;
    background-size: 87% 100%;
    padding: 150px 0;

    .banner-dots {
        position: absolute;
        right: 12%;
        top: 40%;
        z-index: -1;
        
    }

    .banner-shapes {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    .banner-thumb {
        img {
            margin-left: -140px;
        }
    }
    .banner-content {
        h5 {
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 20px;
            background: #00000012;
            padding: 14px 25px;
            border-radius: 50px;
            display: inline-block;
        }

        h1 {
            font-size: 80px;
            color: #fff;
            margin-bottom: 15px;
        }

        .banner-desc-list {
            margin-bottom: 30px;

            li {
                font-size: 24px;
                color: #fff;
                font-weight: 700;
                margin-bottom: 5px;
            }
        }

        .primary-btn {
            background: #fff;
            color: $title-color;
            font-weight: 700;
            line-height: 65px;

            &:hover {
                background: $primary-color;
                color: #fff;
            }
        }
    }

}