/* Start Header area style
============================================================================================ */
.sticky-wrapper {
    position: absolute;
    width: 100%;

    &.is-sticky {
        .header-area {
            background: #7A0872;
            box-shadow: 0 5px 10px #dddddd1a;
            padding: 10px 0;
            .navbar-brand {
                img {
                    max-width: 150px;
                }
            }
        }
    }
}

.header-area {
    position: absolute;
    z-index: 999;
    @include transition();
    background: transparent;
    width: 100%;
    padding: 15px 0;
    top: 0;

    &.active {
        box-shadow: 0 5px 10px #dddddd1a;
    }

    .navbar {
        background: transparent;
        padding: 0px;
        border: 0px;
        border-radius: 0px;
        .navbar-brand {
            img {
                @include transition();
            }
        }
        .navbar-nav {
            .nav-item {
                margin-right: 30px;

                a {
                    font: 700 16px/70px $primary-font;
                    text-transform: uppercase;
                    color: #fff;
                    padding: 0px;
                    display: inline-flex;
                    align-items: center;
                    position: relative;
                    @include transition();
                    .menu-icon {
                        height: 38px;
                        width: 38px;
                        line-height: 38px;
                        text-align: center;
                        background: #fff;
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                }

                &:last-child {
                    margin-right: 0px;
                }
            }

            .nav-item:hover>a {
                opacity: .8;
            }
            &.header-btn {
                margin-left: 30px;
                .primary-btn {
                    line-height: 65px;
                    font-weight: 900;
                    font-size: 16px;
                    text-transform: uppercase;
                    background: #fff;
                    color: $title-color;
                    padding: 0 35px;
                    box-shadow: 0 15px 30px #00000014;
                    &:hover {
                        background: $primary-color;
                        color: #fff;
                    }
                }
            }
        }
    }
}