body {
    line-height: 1.6;
    font-size: 18px;
    font-family: $primary-font;
    font-weight: 400;
    color: $text-color;
}

html {
    scroll-behavior: smooth;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $title-color;
    font-family: $primary-font;
    font-weight: 700;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

a {
    text-decoration: none;
    @include transition();

    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

button:focus {
    outline: none;
    box-shadow: none;
}

.slick-slide:focus {
    outline: none;
    box-shadow: none;
}

.slick-slide img {
    display: inline-block !important;
}

input,
textarea {
    line-height: 50px;
    border: none;
    width: 100%;
    padding: 0 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 35px rgba(6, 16, 34, 0.1);
    border-radius: 8px;
    font-size: 16px;
}

input:focus,
textarea:focus {
    outline: none;
}

textarea {
    height: 120px;
    resize: none;
}

button {
    border: none;
}

img {
    max-width: 100%;
    height: auto;
}